{% extends 'base.html' %}
{% load crispy_forms_tags %}


<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% block content %}
<style>

</style>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/orientacao/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SAOD <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/orientacao/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
         <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

        <li class="nav-item">
        <a class="nav-link" data-toggle="modal" href="#myModal">
          <i class="fas fa-fw fa-plus"></i>
          <span>Adicionar Encontros</span></a>
      </li>

<!-- Divider -->
      <hr class="sidebar-divider">

        <li class="nav-item">
        <a class="nav-link" href="/orientacao/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Voltar</span></a>
      </li>

        <!-- Divider -->
      <hr class="sidebar-divider">

        <li class="nav-item">
        <a class="nav-link" href="#logoutModal" data-toggle="modal">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Sair</span></a>
      </li>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <form class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
          </form>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </nav>


<div class="container-fluid p-0" style="text-align:center;">

            <h4 class="h3 mb-2 text-gray-800">Encontros Registrados</h4>
            <p class="mb-4">Abaixo a lista de encontros registrados na plataforma</p>


    {% if messages %}
         <ul class="messages">
             {% for message in messages %}
                <li
                   {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>{{message}}
                </li>
             {% endfor %}
         </ul>
{% endif %}
{% if encontros %}
    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Tabela de Encontros</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <tbody>
                <tr>
                    <th>Titulo:</th>
                    <th>Conteúdo:</th>
                    <th>Criado em:</th>
                    <th>Ações:</th>
                </tr>
                {% for encontro in encontros%}
                <tr>

                    <td>{{ encontro.titulo }}</td>
                    <td>{{ encontro.descricao }}</td>
                    <td>{{ encontro.start_date }}</td>
                    <td>
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Ação
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated--fade-in" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="delete/{{encontro.id}}">Deletar</a>
                            <a class="dropdown-item" href="edit/{{encontro.id}}">Editar</a>
                        </div>
                      </li>
                    </ul>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
                  </div>
            </div>
     </div>

    <div class="paginator">
    <span class="step-links">
            {% if encontros.has_previous %}
                <a href="?page={{encontros.previous_page_number}}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

                {% if encontros.paginator.num_pages%}

                <span class="current">
                    {{encontros.number}} de {{encontros.paginator.num_pages}}
                </span>
                {% endif %}
            {% if encontros.has_next %}
                <a href="?page={{encontross.next_page_number}}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
{% endif %}
    </div>
    </div>





    </div>
</div>


        <div class="modal fade" id="myModal" role="dialog" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
        <div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<div class="offset-1 col-10 list-div" style="text-align:center;">
    <h3>Adicione seu novo encontro:</h3>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-primary" value="Criar Encontro">
    </form>
</div>
    </div>
  </div>
</div>
        </div>
    </div>
  </div>
        </div>
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tem certeza?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Aperte em "Sair" abaixo se você deseja sair do site</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Sair</a>
        </div>
      </div>
    </div>
  </div>

<script>
$(document).ready(function() {
    var deleteBtn = $('.delete-btn');

    $(deleteBtn).on('click', function(e){

       e.preventDefault();

       var delLink = $(this).attr('href');
       var result = confirm('Quer deletar esta Orientação?');

       if(result){
            window.location.href = delLink;
       }

    });
});
</script>

          <!-- Bootstrap core JavaScript!-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
{% endblock %}