{% extends 'base.html' %}
{% block tcc %}
<form class="form-signin" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
      <img class="mb-4" src="" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
        <label>Username:</label>
         {{form.username}}
         {{form.username_errors}}
        <label>Email:</label>
         {{form.email}}
         {{form.email_errors}}
        <label>Password:</label>
         {{form.password}}
         {{form.password_errors}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
{% endblock %}